---
// layout
// components
import CategoryCloud from "@components/CategoryCloud/CategoryCloud.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Newsletter Subscription" description="Subscribe to our newsletter for the latest updates">
	<div class="mx-auto max-w-3xl px-4 pt-24 md:pt-36">
		<h1 class="h1 text-center">Newsletter</h1>
		<hr class="bg-primary-600/50 mx-auto mt-4 max-w-[30%] rounded-full border-none pt-1" />
		
	</div>
</BaseLayout>
